.element__like-btn {
  display: block;
  margin: 7px 0 0 0;
  padding: 0;
  background: transparent url(../../../../images/element-heart.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  transition: .3s ease;
}
