.profile__avatar-image {
  margin-right: 30px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  position: relative;
  object-position: center;
}

@media screen and (max-width: 580px) {
  .profile__avatar-image {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 480px) {
  .profile__avatar-image {
    margin-right: 0;
    margin-bottom: 26px;
    align-self: center;
    width: 120px;
    height: 120px;
  }
}
