.element__delete-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-image: url('../../../images/element-delete-btn.svg');
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 19px;
  border: none;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.element__delete-btn:hover {
  opacity: 0.6;
}

.element__delete-btn:disabled {
  display: none;
}