.popup__close-btn {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background: transparent url(../../../images/close-icn.svg) center no-repeat;
  border: none;
  cursor: pointer;
}
  
@media screen and (max-width: 512px) {
  .popup__close-btn {
    background: transparent url(../../../images/close-icn-mobile.svg) center no-repeat;
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}